* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

#main-body{
    display: grid;
    grid-template-rows: auto auto auto;
}

header {
    display: grid;
    grid-template-rows: auto;
}

h1 {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}

a {
    padding-right: 10px;
}

main {
    display: grid;
    grid-column: auto;
    grid-template-rows: auto auto;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.img-container {
    margin: 10px;
}

img {
    border-radius: 10px;
}

footer {
    display: grid;
    justify-content: center;
}

#footer-logos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#footer-logos img {
    margin: 3px;
}


@media screen and (max-width: 550px) {
    section {
        grid-template-columns: auto;
    }

    nav {
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }

    .left-buttons {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}